<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->

<!-- Define your dependency -->
<!-- here class is where you have implemented the interface-->
<bean id="myfortune" class="com.pack.name.HappyFortuneService"></bean>

<!-- here class is child class or you can say cat in animal-->
<bean id="mycoach" class="com.pack.name.trackCoach">

<!-- setup your constructor -->

<constructor-arg ref="myfortune"/>
</bean>


<!-- useing those class whose beans you want ot create-->
<bean id="setterEg" class="com.pack.name.SetterExampleCouch">

<!-- this is for setting up setter injection-->
<!-- dont use set in name like setfortune it will give error-->
<property name="Fortune" ref="myfortune"/>
</bean>

<!-- creating setter method for passing value/literals-->
<bean id="passingLiterals" class="com.pack.name.SetterExampleCouch">
<property name="Email" value="email.com" />
<property name="Name" value="my_name" />
</bean>


<context:property-placeholder location="classpath:teams.properties"/>
<bean id="passingLiteralsfromfile" class="com.pack.name.SetterExampleCouch">
<property name="Email" value="${foo.email}" />
<property name="Name" value="${foo.name}" />
</bean>
    
</beans>





